<head>
    <script src="https://unpkg.com/@tailwindcss/browser@4.0.14/dist/index.global.js"></script>
    <script src="https://unpkg.com/htmx.org@2.0.4"
        integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
        crossorigin="anonymous"></script>
    <meta name="htmx-config" content='{"selfRequestsOnly":false}'>
    {#
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script> #}
    <script>
        console.log("players", "{{ PLAYERS }}")
        let players = "{{PLAYERS}}"
    </script>
</head>

<body
    class="
    grid grid-cols-1
    content-center
    justify-center
    justify-items-center
    items-center
    bg-stone-100
    font-system-ui">
    <table class="table-auto w-3/4">
        <p class="text-xl font-bold">
            Matches
        </p>
        <tbody>
            {% set color_mapping = {'black': '&#9899;', 'white': '&#9898;', 'blue': '&#128309;', 'red': '&#128308',
            'green': '&#128994'} %}
            {% for match in MATCHES %}
            <tr>
                <td class="px-1 font-bold text-gray-400">{{ match.date }}</td>
                <td class="px-1 text-right {{ 'font-bold' if match.outcome == '1' else '' }}">{{ match.team_1 }}</td>
                <td class="px-3 text-center w-25 text-gray-500">{{color_mapping[match.team_1.color or 'black']}} vs
                    {{color_mapping[match.team_2.color or 'white']}}️
                </td>
                <td class="px-1 text-left {{ 'font-bold' if match.outcome == '2' else '' }}">{{ match.team_2 }}</td>
                {% if match.highlights_id %}
                <td class="px-1 font-medium text-blue-600 dark:text-blue-500 hover:underline"> <a
                        href="https://app.myplay.com/app/game/{{match.highlights_id}}/highlights">highlights</a></td>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <details
        class="grid grid-cols-1 content-center justify-center justify-items-center items-center group cursor-pointer">
        <summary class="text-blue-500 group-open:text-black">Start new...</summary>
        <form>
            <textarea
                placeholder="Tuesday DD/MM @20:00
1.⁠ Player 1
2.⁠ Player 2⁠
3.⁠ Player 3
4.⁠ Player 4⁠
5.⁠ Player 5⁠
6.⁠ Player 6⁠
7.⁠ Player 7⁠
8.⁠ Player 8⁠
9.⁠ Player 9⁠
10.⁠ Player 10"
                class="relative resize-none h-70 w-60 border-2 border-blue-500"
                name="matchmaking"
                hx-post="{{ SERVER_URL }}/debug"></textarea>
        </form>
    </details>
    <br>

    {# Players #}
    <table>
        <p class="text-xl font-bold">
            Players
        </p>
        <thead>
            <tr>
                <th scope="col"></th> <!-- name -->
                <th scope="col">⛹️‍♂️</th>
                <th>🏅</th>
                <th>🐸</th>
                <th>🏆</th>
            </tr>
        </thead>
        <tbody>
            {% for player in PLAYERS.values()|sort(attribute='stats.wins,alias', reverse=true) %}
            <tr>
                <th class="text-right px-2 font-semibold">
                    {{player.alias }}</th>
                <td class="px-1">{{player.stats.played}}</td>
                <td class="px-1">{{player.stats.wins}}</td>
                <td class="px-1">{{player.stats.losses}}</td>
                <td class="px-1">{{player.stats.tournament_wins}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
